{% extends "base.html" %}
{% block title %}Daily{% endblock %}
{% block content %}
    <h2>Daily Banking</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="bank">Daily Banking</button>
        <button type="submit" name="paypal">Paypal</button>
        <button type="submit" name="tearDown">teardown</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 35%; display:table-cell">
                <b><a href="{% url 'Sofi' %}" target="_blank">Sofi</a></b><br><br>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="sofiMain">Main</button>
                        <button type="submit" name="sofi" value="login">Login</button>
                        <button type="submit" name="sofiBalances">Balances</button>
                        <button type="submit" name="sofiLogout">Logout</button>
                    </form><br>
                <div style="display: table-row;">
                    <div class="test" style="display:table-cell;text-align:right">
                        Checking Balance: &thinsp; <br>
                        gnuCash Balance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{bankAccounts.Checking.balance}}<br>
                        ${{bankAccounts.Checking.gnuBalance}}</b><br><br>
                    </div>
                </div>
                Review Transactions:<br><br>
                <div style="width: 50%; display: table;">
                    {%for tr in bankAccounts.Checking.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        Savings Balance: &thinsp; <br>
                        gnuCash Balance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{bankAccounts.Savings.balance}} <br>
                        ${{bankAccounts.Savings.gnuBalance}}</b> <br><br>
                    </div>
                </div>
                Review Transactions:<br><br>
                <div style="width: 50%; display: table;">
                    {%for tr in bankAccounts.Savings.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="width: 35%; display:table-cell">
                <b><a href="{% url 'Ally' %}" target="_blank">Ally</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="allyMain">Main</button>
                    <button type="submit" name="allyLogin">Login</button>
                    <button type="submit" name="allyBalance">Balance</button>
                    <button type="submit" name="allyLogout">Logout</button>
                </form><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        Balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{bankAccounts.Ally.balance}}<br>
                        ${{bankAccounts.Ally.gnuBalance}}</b><br><br>
                    </div>
                </div>
                Review Transactions: <br><br>
                <div style="width: 50%; display: table;">
                    {%for tr in bankAccounts.Ally.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </div>                
            </div>            
            <div style="width: 15%; display:table-cell">
                <br><br><form method="post">
                    {% csrf_token %}
                    <button type="submit" name="crypto">Crypto Portfolio Total</button><br><br>
                    &emsp;&emsp;<b>${{bankAccounts.CryptoPortfolio.gnuBalance}}</b><br>
                </form>
            </div>
            <div style="width: 15%; display:table-cell">
                <br><br><form method="post">
                    {% csrf_token %}
                    <button type="submit" name="GME">GME Price</button><br><br>
                </form>
                &emsp;<b>${{GME}}</b><br>
            </div>
        </div>
    </div>
{% endblock %}
