{% extends "base.html" %}
{% block title %}Daily{% endblock %}
{% block content %}
    <h2>Daily Banking</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="bank">Daily Banking</button>
        <button type="submit" name="paypal">Paypal</button>
        <button type="submit" name="tearDown">teardown</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <b><a href="{% url 'Sofi' %}" target="_blank">Sofi</a></b><br><br>
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" name="sofiMain">Main</button>
                        <button type="submit" name="sofi" value="login">Login</button>
                        <button type="submit" name="sofiBalances">Balances</button>
                        <button type="submit" name="sofiLogout">Logout</button>
                    </form><br>
                <div style="display: table-row;">
                    <div class="test" style="display:table-cell;text-align:right">
                        Checking Balance: &thinsp; <br>
                        gnuCash Balance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{bankAccounts.Sofi.Checking.balance}}<br>
                        ${{bankAccounts.Sofi.Checking.gnuBalance}}</b><br><br>
                    </div>
                </div>
                Review Transactions:<br><br>
                <div style="width: 50%; display: table;">
                    {%for tr in bankAccounts.Sofi.Checking.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        Savings Balance: &thinsp; <br>
                        gnuCash Balance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{bankAccounts.Sofi.Savings.balance}} <br>
                        ${{bankAccounts.Sofi.Savings.gnuBalance}}</b> <br><br>
                    </div>
                </div>
                Review Transactions:<br><br>
                <div style="width: 50%; display: table;">
                    {%for tr in bankAccounts.Sofi.Savings.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="width: 50%; display:table-cell">
                <div style="display: table-row;">
                    <div style="width: 13%; display:table-cell">
                        <b><a href="{% url 'Fidelity' %}" target="_blank">Fidelity</a></b><br><br>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" name="fidelityMain">Main</button>
                            <button type="submit" name="fidelityLogin">Login</button>
                            <button type="submit" name="fidelityBalance">Balance</button>
                        </form><br>
                        <div style="display:table-cell;text-align:right">
                            {{bankAccounts.Fidelity.Brokerage.name}} balance: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.BrokerageGME.symbol}} shares: &thinsp; <br>
                            gnuBalance shares: &thinsp; <br>
                            {{bankAccounts.Fidelity.BrokerageGME.symbol}} value: &thinsp; <br>
                            ${{bankAccounts.Fidelity.BrokerageGME.price}} x shares: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.BrokerageOptions.name}}: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.BrokerageSPAXX.symbol}} balance: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                        </div>
                        <div style="display:table-cell;text-align:left">
                            <b>${{bankAccounts.Fidelity.Brokerage.balance}}<br>
                            ${{bankAccounts.Fidelity.Brokerage.gnuBalance}}<br><br>
                            {{bankAccounts.Fidelity.BrokerageGME.balance}} {{bankAccounts.Fidelity.BrokerageGME.symbol}}<br>
                            {{bankAccounts.Fidelity.BrokerageGME.gnuBalance}} {{bankAccounts.Fidelity.BrokerageGME.symbol}}<br>
                            ${{bankAccounts.Fidelity.BrokerageGME.value}}<br>
                            ${{bankAccounts.Fidelity.BrokerageGME.gnuValue}}<br><br>
                            ${{bankAccounts.Fidelity.BrokerageOptions.balance}}<br>
                            ${{bankAccounts.Fidelity.BrokerageOptions.gnuBalance}}<br><br>
                            ${{bankAccounts.Fidelity.BrokerageSPAXX.balance}}<br>
                            ${{bankAccounts.Fidelity.BrokerageSPAXX.gnuBalance}}<br><br></b>                       
                        </div>
                    </div>
                    <div style="width: 18%; display:table-cell">
                        <br><br><br><br>
                        <div style="display:table-cell;text-align:right">
                            {{bankAccounts.Fidelity.IRA.name}} balance: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.IRAGME.symbol}} shares: &thinsp; <br>
                            gnuBalance shares: &thinsp; <br>
                            {{bankAccounts.Fidelity.IRAGME.symbol}} value: &thinsp; <br>
                            ${{bankAccounts.Fidelity.IRAGME.price}} x shares: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.IRAOptions.name}}: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.IRASPAXX.symbol}} balance: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>                            
                        </div>
                        <div style="display:table-cell;text-align:left">
                            <b>${{bankAccounts.Fidelity.IRA.balance}}<br>
                            ${{bankAccounts.Fidelity.IRA.gnuBalance}}<br><br>
                            {{bankAccounts.Fidelity.IRAGME.balance}} {{bankAccounts.Fidelity.IRAGME.symbol}}<br>
                            {{bankAccounts.Fidelity.IRAGME.gnuBalance}} {{bankAccounts.Fidelity.IRAGME.symbol}}<br>
                            ${{bankAccounts.Fidelity.IRAGME.value}}<br>
                            ${{bankAccounts.Fidelity.IRAGME.gnuValue}}<br><br>
                            ${{bankAccounts.Fidelity.IRAOptions.balance}}<br>
                            ${{bankAccounts.Fidelity.IRAOptions.gnuBalance}}<br><br>
                            ${{bankAccounts.Fidelity.IRASPAXX.balance}}<br>
                            ${{bankAccounts.Fidelity.IRASPAXX.gnuBalance}}<br><br></b>
                        </div>
                    </div>
                    <div style="width: 18%; display:table-cell">
                        <br><br><br><br>
                        <div style="display:table-cell;text-align:right">
                            {{bankAccounts.Fidelity.rIRA.name}} balance: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.rIRAGME.symbol}} shares: &thinsp; <br>
                            gnuBalance shares: &thinsp; <br>
                            {{bankAccounts.Fidelity.rIRAGME.symbol}} value: &thinsp; <br>
                            ${{bankAccounts.Fidelity.rIRAGME.price}} x shares: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.rIRAOptions.name}}: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.rIRASPAXX.symbol}} balance: &thinsp; <br>
                            gnuBalance: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.rIRAVTI.symbol}} shares: &thinsp; <br>
                            gnuBalance shares: &thinsp; <br>
                            {{bankAccounts.Fidelity.rIRAVTI.symbol}} value: &thinsp; <br>
                            ${{bankAccounts.Fidelity.rIRAVTI.price}} x shares: &thinsp; <br><br>
                            {{bankAccounts.Fidelity.rIRAVXUS.symbol}} shares: &thinsp; <br>
                            gnuBalance shares: &thinsp; <br>
                            {{bankAccounts.Fidelity.rIRAVXUS.symbol}} value: &thinsp; <br>
                            ${{bankAccounts.Fidelity.rIRAVXUS.price}} x shares: &thinsp; <br><br>                            
                        </div>
                        <div style="display:table-cell;text-align:left">
                            <b>${{bankAccounts.Fidelity.rIRA.balance}}<br>
                            ${{bankAccounts.Fidelity.rIRA.gnuBalance}}<br><br>
                            {{bankAccounts.Fidelity.rIRAGME.balance}} {{bankAccounts.Fidelity.rIRAGME.symbol}}<br>
                            {{bankAccounts.Fidelity.rIRAGME.gnuBalance}} {{bankAccounts.Fidelity.rIRAGME.symbol}}<br>
                            ${{bankAccounts.Fidelity.rIRAGME.value}}<br>
                            ${{bankAccounts.Fidelity.rIRAGME.gnuValue}}<br><br>
                            ${{bankAccounts.Fidelity.rIRAOptions.balance}}<br>
                            ${{bankAccounts.Fidelity.rIRAOptions.gnuBalance}}<br><br>
                            ${{bankAccounts.Fidelity.rIRASPAXX.balance}}<br>
                            ${{bankAccounts.Fidelity.rIRASPAXX.gnuBalance}}<br><br>
                            {{bankAccounts.Fidelity.rIRAVTI.balance}} {{bankAccounts.Fidelity.rIRAVTI.symbol}}<br>
                            {{bankAccounts.Fidelity.rIRAVTI.gnuBalance}} {{bankAccounts.Fidelity.rIRAVTI.symbol}}<br>
                            ${{bankAccounts.Fidelity.rIRAVTI.value}}<br>
                            ${{bankAccounts.Fidelity.rIRAVTI.gnuValue}}<br><br>
                            {{bankAccounts.Fidelity.rIRAVXUS.balance}} {{bankAccounts.Fidelity.rIRAVXUS.symbol}}<br>
                            {{bankAccounts.Fidelity.rIRAVXUS.gnuBalance}} {{bankAccounts.Fidelity.rIRAVXUS.symbol}}<br>
                            ${{bankAccounts.Fidelity.rIRAVXUS.value}}<br>
                            ${{bankAccounts.Fidelity.rIRAVXUS.gnuValue}}<br><br></b>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 10%; display:table-cell">
                <br><br><form method="post">
                    {% csrf_token %}
                    <button type="submit" name="crypto">Crypto Portfolio Total</button><br><br>
                    &emsp;&emsp;<b>${{bankAccounts.CryptoPortfolio.gnuBalance}}</b><br>
                </form>
            </div>
            <div style="width: 10%; display:table-cell">
                <br><br><form method="post">
                    {% csrf_token %}
                    <button type="submit" name="paypalAdjust">Paypal Recategorize</button><br><br>
                    {%for tr in bankAccounts.Paypal.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>            
        </div>
    </div>
{% endblock %}
