{% extends "base.html" %}
{% block title %}Fidelity{% endblock %}
{% block content %}
    <h1>Fidelity</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style=" display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="balance">Balance</button><br>
                </form>
            </div>
            <div style="display:table-cell;text-align:right">
                {{accounts.Brokerage.name}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.brGME.symbol}} shares: &thinsp; <br>
                gnuBalance shares: &thinsp; <br>
                {{accounts.brGME.symbol}} value: &thinsp; <br>
                ${{accounts.brGME.price}} x shares: &thinsp; <br><br>
                {{accounts.brOptions.name}}: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.brSPAXX.symbol}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
            </div>
            <div style="display:table-cell;text-align:left">
                <b>${{accounts.Brokerage.balance}}<br>
                ${{accounts.Brokerage.gnuBalance}}<br><br>
                {{accounts.brGME.balance}} {{accounts.brGME.symbol}}<br>
                {{accounts.brGME.gnuBalance}} {{accounts.brGME.symbol}}<br>
                ${{accounts.brGME.value}}<br>
                ${{accounts.brGME.gnuValue}}<br><br>
                ${{accounts.brOptions.balance}}<br>
                ${{accounts.brOptions.gnuBalance}}<br><br>
                ${{accounts.brSPAXX.balance}}<br>
                ${{accounts.brSPAXX.gnuBalance}}<br><br></b>                       
            </div>
            <div style="display:table-cell">
                <div style="display:table-cell;text-align:right">
                    {{accounts.IRA.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.iraGME.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.iraGME.symbol}} value: &thinsp; <br>
                    ${{accounts.iraGME.price}} x shares: &thinsp; <br><br>
                    {{accounts.iraOptions.name}}: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.iraSPAXX.symbol}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>                            
                </div>
                <div style="display:table-cell;text-align:left">
                    <b>${{accounts.IRA.balance}}<br>
                    ${{accounts.IRA.gnuBalance}}<br><br>
                    {{accounts.iraGME.balance}} {{accounts.iraGME.symbol}}<br>
                    {{accounts.iraGME.gnuBalance}} {{accounts.iraGME.symbol}}<br>
                    ${{accounts.iraGME.value}}<br>
                    ${{accounts.iraGME.gnuValue}}<br><br>
                    ${{accounts.iraOptions.balance}}<br>
                    ${{accounts.iraOptions.gnuBalance}}<br><br>
                    ${{accounts.iraSPAXX.balance}}<br>
                    ${{accounts.iraSPAXX.gnuBalance}}<br><br></b>
                </div>
            </div>
            <div style="display:table-cell">
                <div style="display:table-cell;text-align:right">
                    {{accounts.rIRA.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.riraGME.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.riraGME.symbol}} value: &thinsp; <br>
                    ${{accounts.riraGME.price}} x shares: &thinsp; <br><br>
                    {{accounts.riraOptions.name}}: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.riraSPAXX.symbol}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.riraVTI.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.riraVTI.symbol}} value: &thinsp; <br>
                    ${{accounts.riraVTI.price}} x shares: &thinsp; <br><br>
                    {{accounts.riraVXUS.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.riraVXUS.symbol}} value: &thinsp; <br>
                    ${{accounts.riraVXUS.price}} x shares: &thinsp; <br><br>                            
                </div>
                <div style="display:table-cell;text-align:left">
                    <b>${{accounts.rIRA.balance}}<br>
                    ${{accounts.rIRA.gnuBalance}}<br><br>
                    {{accounts.riraGME.balance}} {{accounts.riraGME.symbol}}<br>
                    {{accounts.riraGME.gnuBalance}} {{accounts.riraGME.symbol}}<br>
                    ${{accounts.riraGME.value}}<br>
                    ${{accounts.riraGME.gnuValue}}<br><br>
                    ${{accounts.riraOptions.balance}}<br>
                    ${{accounts.riraOptions.gnuBalance}}<br><br>
                    ${{accounts.riraSPAXX.balance}}<br>
                    ${{accounts.riraSPAXX.gnuBalance}}<br><br>
                    {{accounts.riraVTI.balance}} {{accounts.riraVTI.symbol}}<br>
                    {{accounts.riraVTI.gnuBalance}} {{accounts.riraVTI.symbol}}<br>
                    ${{accounts.riraVTI.value}}<br>
                    ${{accounts.riraVTI.gnuValue}}<br><br>
                    {{accounts.riraVXUS.balance}} {{accounts.riraVXUS.symbol}}<br>
                    {{accounts.riraVXUS.gnuBalance}} {{accounts.riraVXUS.symbol}}<br>
                    ${{accounts.riraVXUS.value}}<br>
                    ${{accounts.riraVXUS.gnuValue}}<br><br></b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
