{% extends "base.html" %}
{% block title %}Fidelity{% endblock %}
{% block content %}
    <h1>Fidelity</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style=" display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="balance">Balance</button><br>
                </form>
            </div>
            <div style="display:table-cell;text-align:right">
                {{accounts.Brokerage.name}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.BrokerageGME.symbol}} shares: &thinsp; <br>
                gnuBalance shares: &thinsp; <br>
                {{accounts.BrokerageGME.symbol}} value: &thinsp; <br>
                ${{accounts.BrokerageGME.price}} x shares: &thinsp; <br><br>
                {{accounts.BrokerageOptions.name}}: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.BrokerageSPAXX.symbol}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
            </div>
            <div style="display:table-cell;text-align:left">
                <b>${{accounts.Brokerage.balance}}<br>
                ${{accounts.Brokerage.gnuBalance}}<br><br>
                {{accounts.BrokerageGME.balance}} {{accounts.BrokerageGME.symbol}}<br>
                {{accounts.BrokerageGME.gnuBalance}} {{accounts.BrokerageGME.symbol}}<br>
                ${{accounts.BrokerageGME.value}}<br>
                ${{accounts.BrokerageGME.gnuValue}}<br><br>
                ${{accounts.BrokerageOptions.balance}}<br>
                ${{accounts.BrokerageOptions.gnuBalance}}<br><br>
                ${{accounts.BrokerageSPAXX.balance}}<br>
                ${{accounts.BrokerageSPAXX.gnuBalance}}<br><br></b>                       
            </div>
            <div style="display:table-cell">
                <div style="display:table-cell;text-align:right">
                    {{accounts.IRA.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.IRAGME.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.IRAGME.symbol}} value: &thinsp; <br>
                    ${{accounts.IRAGME.price}} x shares: &thinsp; <br><br>
                    {{accounts.IRAOptions.name}}: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.IRASPAXX.symbol}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>                            
                </div>
                <div style="display:table-cell;text-align:left">
                    <b>${{accounts.IRA.balance}}<br>
                    ${{accounts.IRA.gnuBalance}}<br><br>
                    {{accounts.IRAGME.balance}} {{accounts.IRAGME.symbol}}<br>
                    {{accounts.IRAGME.gnuBalance}} {{accounts.IRAGME.symbol}}<br>
                    ${{accounts.IRAGME.value}}<br>
                    ${{accounts.IRAGME.gnuValue}}<br><br>
                    ${{accounts.IRAOptions.balance}}<br>
                    ${{accounts.IRAOptions.gnuBalance}}<br><br>
                    ${{accounts.IRASPAXX.balance}}<br>
                    ${{accounts.IRASPAXX.gnuBalance}}<br><br></b>
                </div>
            </div>
            <div style="display:table-cell">
                <div style="display:table-cell;text-align:right">
                    {{accounts.rIRA.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.rIRAGME.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.rIRAGME.symbol}} value: &thinsp; <br>
                    ${{accounts.rIRAGME.price}} x shares: &thinsp; <br><br>
                    {{accounts.rIRAOptions.name}}: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.rIRASPAXX.symbol}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.rIRAVTI.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.rIRAVTI.symbol}} value: &thinsp; <br>
                    ${{accounts.rIRAVTI.price}} x shares: &thinsp; <br><br>
                    {{accounts.rIRAVXUS.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.rIRAVXUS.symbol}} value: &thinsp; <br>
                    ${{accounts.rIRAVXUS.price}} x shares: &thinsp; <br><br>                            
                </div>
                <div style="display:table-cell;text-align:left">
                    <b>${{accounts.rIRA.balance}}<br>
                    ${{accounts.rIRA.gnuBalance}}<br><br>
                    {{accounts.rIRAGME.balance}} {{accounts.rIRAGME.symbol}}<br>
                    {{accounts.rIRAGME.gnuBalance}} {{accounts.rIRAGME.symbol}}<br>
                    ${{accounts.rIRAGME.value}}<br>
                    ${{accounts.rIRAGME.gnuValue}}<br><br>
                    ${{accounts.rIRAOptions.balance}}<br>
                    ${{accounts.rIRAOptions.gnuBalance}}<br><br>
                    ${{accounts.rIRASPAXX.balance}}<br>
                    ${{accounts.rIRASPAXX.gnuBalance}}<br><br>
                    {{accounts.rIRAVTI.balance}} {{accounts.rIRAVTI.symbol}}<br>
                    {{accounts.rIRAVTI.gnuBalance}} {{accounts.rIRAVTI.symbol}}<br>
                    ${{accounts.rIRAVTI.value}}<br>
                    ${{accounts.rIRAVTI.gnuValue}}<br><br>
                    {{accounts.rIRAVXUS.balance}} {{accounts.rIRAVXUS.symbol}}<br>
                    {{accounts.rIRAVXUS.gnuBalance}} {{accounts.rIRAVXUS.symbol}}<br>
                    ${{accounts.rIRAVXUS.value}}<br>
                    ${{accounts.rIRAVXUS.gnuValue}}<br><br></b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
