{% extends "base.html" %}
{% block title %}Fidelity{% endblock %}
{% block content %}
    <h1>Fidelity</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style=" display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="balance">Balance</button><br>
                </form>
            </div>
            <div style="display:table-cell;text-align:right">
                {{accounts.FidelityIndividual.name}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.FidelityIndividualGME.symbol}} shares: &thinsp; <br>
                gnuBalance shares: &thinsp; <br>
                {{accounts.FidelityIndividualGME.symbol}} value: &thinsp; <br>
                ${{accounts.FidelityIndividualGME.price}} x shares: &thinsp; <br><br>
                {{accounts.FidelityIndividualOptions.name}}: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.FidelityIndividualCash.name}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
            </div>
            <div style="display:table-cell;text-align:left">
                <b>${{accounts.FidelityIndividual.balance}}<br>
                ${{accounts.FidelityIndividual.gnuBalance}}<br><br>
                {{accounts.FidelityIndividualGME.balance}} {{accounts.FidelityIndividualGME.symbol}}<br>
                {{accounts.FidelityIndividualGME.gnuBalance}} {{accounts.FidelityIndividualGME.symbol}}<br>
                ${{accounts.FidelityIndividualGME.value}}<br>
                ${{accounts.FidelityIndividualGME.gnuValue}}<br><br>
                ${{accounts.FidelityIndividualOptions.balance}}<br>
                ${{accounts.FidelityIndividualOptions.gnuBalance}}<br><br>
                ${{accounts.FidelityIndividualCash.balance}}<br>
                ${{accounts.FidelityIndividualCash.gnuBalance}}<br><br></b>                       
            </div>
            <div style="display:table-cell;text-align:right">
                {{accounts.FidelityBusiness.name}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
                {{accounts.FidelityBusinessCash.name}} balance: &thinsp; <br>
                gnuBalance: &thinsp; <br><br>
            </div>
            <div style="display:table-cell;text-align:left">
                <b>${{accounts.FidelityBusiness.balance}}<br>
                ${{accounts.FidelityBusiness.gnuBalance}}<br><br>
                ${{accounts.FidelityBusinessCash.balance}}<br>
                ${{accounts.FidelityBusinessCash.gnuBalance}}<br><br></b>                       
            </div>
            <div style="display:table-cell">
                <div style="display:table-cell;text-align:right">
                    {{accounts.FidelityIRA.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.FidelityIRAGME.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.FidelityIRAGME.symbol}} value: &thinsp; <br>
                    ${{accounts.FidelityIRAGME.price}} x shares: &thinsp; <br><br>
                    {{accounts.FidelityIRAOptions.name}}: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.FidelityIRACash.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>                            
                </div>
                <div style="display:table-cell;text-align:left">
                    <b>${{accounts.FidelityIRA.balance}}<br>
                    ${{accounts.FidelityIRA.gnuBalance}}<br><br>
                    {{accounts.FidelityIRAGME.balance}} {{accounts.FidelityIRAGME.symbol}}<br>
                    {{accounts.FidelityIRAGME.gnuBalance}} {{accounts.FidelityIRAGME.symbol}}<br>
                    ${{accounts.FidelityIRAGME.value}}<br>
                    ${{accounts.FidelityIRAGME.gnuValue}}<br><br>
                    ${{accounts.FidelityIRAOptions.balance}}<br>
                    ${{accounts.FidelityIRAOptions.gnuBalance}}<br><br>
                    ${{accounts.FidelityIRACash.balance}}<br>
                    ${{accounts.FidelityIRACash.gnuBalance}}<br><br></b>
                </div>
            </div>
            <div style="display:table-cell">
                <div style="display:table-cell;text-align:right">
                    {{accounts.FidelityRothIRA.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.FidelityRothIRAGME.symbol}} shares: &thinsp; <br>
                    gnuBalance shares: &thinsp; <br>
                    {{accounts.FidelityRothIRAGME.symbol}} value: &thinsp; <br>
                    ${{accounts.FidelityRothIRAGME.price}} x shares: &thinsp; <br><br>
                    {{accounts.FidelityRothIRAOptions.name}}: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                    {{accounts.FidelityRothIRACash.name}} balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>                 
                </div>
                <div style="display:table-cell;text-align:left">
                    <b>${{accounts.FidelityRothIRA.balance}}<br>
                    ${{accounts.FidelityRothIRA.gnuBalance}}<br><br>
                    {{accounts.FidelityRothIRAGME.balance}} {{accounts.FidelityRothIRAGME.symbol}}<br>
                    {{accounts.FidelityRothIRAGME.gnuBalance}} {{accounts.FidelityRothIRAGME.symbol}}<br>
                    ${{accounts.FidelityRothIRAGME.value}}<br>
                    ${{accounts.FidelityRothIRAGME.gnuValue}}<br><br>
                    ${{accounts.FidelityRothIRAOptions.balance}}<br>
                    ${{accounts.FidelityRothIRAOptions.gnuBalance}}<br><br>
                    ${{accounts.FidelityRothIRACash.balance}}<br>
                    ${{accounts.FidelityRothIRACash.gnuBalance}}<br><br>
                </b>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
