{% extends "base.html" %}
{% block title %}Health Equity{% endblock %}
{% block content %}
    <h1>Health Equity</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="balance">Balance</button><br>
                </form>
            </div>
            <div style="width: 80%; display:table-cell">
                &emsp;&emsp;HSA Cash balance: <b>${{HEaccounts.HECash.balance}}</b><br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&thinsp;gnuBalance: <b>${{HEaccounts.HECash.gnuBalance}}</b><br><br>
                HSA Investment shares: <b>{{HEaccounts.VIIIX.balance}} {{HEaccounts.VIIIX.symbol}}</b><br>
                &emsp;&ensp;&thinsp;&thinsp;gnuBalance shares: <b>{{HEaccounts.VIIIX.gnuBalance}} {{HEaccounts.VIIIX.symbol}}</b><br>
                &ensp;HSA Investment Value: <b>${{HEaccounts.VIIIX.value}}</b><br>
                &emsp;&emsp;&ensp;&thinsp;&thinsp;${{HEaccounts.VIIIX.price}} x shares: <b>${{HEaccounts.VIIIX.gnuValue}}</b><br><br>
            </div>
        </div>
    </div>&emsp;&emsp;&emsp;&emsp;&ensp;
{% endblock %}
