{% extends "base.html" %}
{% block title %}Health Equity{% endblock %}
{% block content %}
<h1>Health Equity</h1>
<div class="layout-grid">
    <div class="card">
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="main">Main</button>
            <button type="submit" name="login">Login</button>
            <button type="submit" name="balance">Balance</button>
        </form>
    </div>
    <div class="card">
        <div class="subcard" style="margin-bottom:0;">
            <table class="metrics-table">
                <tr><td>HSA Cash balance:</td><td><b>${{HEaccounts.HECash.balance}}</b></td></tr>
                <tr><td>gnuBalance:</td><td><b>${{HEaccounts.HECash.gnuBalance}}</b></td></tr>
                <tr><td colspan="2" style="padding-top:8px;"><b>{{HEaccounts.VIIIX.symbol}}</b></td></tr>
                <tr><td>shares:</td><td><b>{{HEaccounts.VIIIX.balance}} {{HEaccounts.VIIIX.symbol}}</b></td></tr>
                <tr><td>gnuBalance shares:</td><td><b>{{HEaccounts.VIIIX.gnuBalance}} {{HEaccounts.VIIIX.symbol}}</b></td></tr>
                <tr><td>value:</td><td><b>${{HEaccounts.VIIIX.value}}</b></td></tr>
                <tr><td>${{HEaccounts.VIIIX.price}} x shares:</td><td><b>${{HEaccounts.VIIIX.gnuValue}}</b></td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
