{% extends "base.html" %}
{% block title %}Monthly{% endblock %}
{% block content %}
    <h2>Monthly USD</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="USD">USD</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'HealthEquity' %}" target="_blank">Health Equity</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="HEMain">Main</button>&emsp;
                    <button type="submit" name="HELogin">Login</button>&emsp;
                    <button type="submit" name="HEBalances">Balances</button>&emsp;
                </form><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        HSA Cash balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                        HSA Investment shares: &thinsp; <br>
                        gnuBalance shares: &thinsp; <br><br>
                        HSA Investment Value: &thinsp; <br>
                        ${{usdAccounts.HealthEquity.VIIIX.price}} x shares: &thinsp; <br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{usdAccounts.HealthEquity.HECash.balance}}<br>
                        ${{usdAccounts.HealthEquity.HECash.gnuBalance}}<br><br>
                        {{usdAccounts.HealthEquity.VIIIX.balance}} {{usdAccounts.HealthEquity.VIIIX.symbol}}<br>
                        {{usdAccounts.HealthEquity.VIIIX.gnuBalance}} {{usdAccounts.HealthEquity.VIIIX.symbol}}<br><br>
                        ${{usdAccounts.HealthEquity.VIIIX.value}}<br>
                        ${{usdAccounts.HealthEquity.VIIIX.gnuValue}}</b><br><br>
                    </div>
                </div>
            </div>
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'Optum' %}" target="_blank">Optum HSA</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="optumMain">Main</button>&emsp;
                    <button type="submit" name="optumLogin">Login</button>&emsp;
                    <button type="submit" name="optumBalance">Balance</button>&emsp;
                </form><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        HSA Cash balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                        HSA Investment shares: &thinsp; <br>
                        gnuBalance shares: &thinsp; <br><br>
                        HSA Investment Value: &thinsp; <br>
                        ${{usdAccounts.Optum.VFIAX.price}} x shares: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{usdAccounts.Optum.OptumCash.balance}}<br>
                        ${{usdAccounts.Optum.OptumCash.gnuBalance}}<br><br>
                        {{usdAccounts.Optum.VFIAX.balance}} {{usdAccounts.Optum.VFIAX.symbol}}<br>
                        {{usdAccounts.Optum.VFIAX.gnuBalance}} {{usdAccounts.Optum.VFIAX.symbol}}<br><br>
                        ${{usdAccounts.Optum.VFIAX.value}}<br>
                        ${{usdAccounts.Optum.VFIAX.gnuValue}}</b><br><br>
                    </div>
                </div><br><br>
            </div>
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'Vanguard' %}" target="_blank">Vanguard</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="vanguard401k">401k</button>&emsp;
                    <button type="submit" name="vanguardLogin">Login</button>&emsp;
                    <button type="submit" name="vanguardBalances">Balances</button>&emsp;
                </form><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        401k Balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                        TSM shares: &thinsp; <br>
                        gnuBalance shares: &thinsp; <br> 
                        TSM Value: &thinsp; <br>
                        ${{usdAccounts.Vanguard.TSM401k.price}} x shares: &thinsp; <br><br>
                        EBI shares: &thinsp; <br>
                        gnuBalance shares: &thinsp; <br> 
                        EBI Value: &thinsp; <br>
                        ${{usdAccounts.Vanguard.EBI.price}} x shares: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{usdAccounts.Vanguard.V401k.balance}}<br>
                        ${{usdAccounts.Vanguard.V401k.gnuBalance}}<br><br>
                        {{usdAccounts.Vanguard.TSM401k.balance}} ({{usdAccounts.Vanguard.TSM401k.symbol}})<br>
                        {{usdAccounts.Vanguard.TSM401k.gnuBalance}} ({{usdAccounts.Vanguard.TSM401k.symbol}})<br>
                        ${{usdAccounts.Vanguard.TSM401k.value}}<br>
                        ${{usdAccounts.Vanguard.TSM401k.gnuValue}}<br><br>
                        {{usdAccounts.Vanguard.EBI.balance}} ({{usdAccounts.Vanguard.EBI.symbol}})<br>
                        {{usdAccounts.Vanguard.EBI.gnuBalance}} ({{usdAccounts.Vanguard.EBI.symbol}})<br>
                        ${{usdAccounts.Vanguard.EBI.value}}<br>
                        ${{usdAccounts.Vanguard.EBI.gnuValue}}</b><br><br>
                    </div>
                </div>
            </div>
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'Worthy' %}" target="_blank">Worthy</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="worthyLogin">Login</button>&emsp;
                    <button type="submit" name="worthyBalance">Balance</button>&emsp;
                </form><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>${{usdAccounts.Worthy.balance}}<br>
                        ${{usdAccounts.Worthy.gnuBalance}}</b><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Monthly Crypto</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Crypto">Crypto</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 16%; display:table-cell">
                <b><a href="{% url 'Eternl' %}" target="_blank">Eternl</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="eternlMain">Main</button>
                    <button type="submit" name="eternlLogin">Login</button>
                    <button type="submit" name="eternlBalance">Balance</button>
                </form><br><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        ADA balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>{{cryptoAccounts.Cardano.balance}}<br>
                        {{cryptoAccounts.Cardano.gnuBalance}}</b><br><br>
                    </div>
                </div>
            </div>
            <div style="width: 16%; display:table-cell">
                <b><a href="{% url 'IoPay' %}" target="_blank">IoPay</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="ioPayMain">Main</button>
                </form><br><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        IOTX balance: &thinsp; <br>
                        gnuBalance: &thinsp; <br><br>
                    </div>
                    <div style="display:table-cell;text-align:left">
                        <b>{{cryptoAccounts.IoTex.balance}}<br>
                        {{cryptoAccounts.IoTex.gnuBalance}}</b><br><br>
                    </div>
                </div>
            </div>
            <div style="width: 16%; display:table-cell">
                <b><a href="{% url 'Ledger' %}" target="_blank">Ledger</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="ledgerMain">Main</button>
                </form><br><br>
                <div style="display: table-row;">
                    <div style="display:table-cell;text-align:right">
                        {% for coin in cryptoAccounts.ledgerAccounts %}
                            {{coin.symbol}} balance: &thinsp;<br>
                            gnuBalance: &thinsp;<br><br>
                        {% endfor %}
                    </div>
                    <div style="display:table-cell;text-align:left">
                        {% for coin in cryptoAccounts.ledgerAccounts %}
                            <b>{{coin.balance}}<br>
                            {{coin.gnuBalance}}</b><br><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
