body {
    font-family: sans-serif;
    color: cornflowerblue;
    background-color: black;
}

a, a:visited {
    color:lightskyblue;
    display: inline-block;
    margin-right: 20px;
}

a:hover {
    color:white;
}

a:active {
    color:red;
}

button {
    display: inline-block;
    margin-right: 20px;
}