{% extends "base.html" %}
{% block title %}Amazon GC{% endblock %}
{% block content %}
    <h1>Amazon GC</h1>
    <div style="width: 40%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                </form>
            </div>
            <div style="width: 20%; display:table-cell">
                <b>&emsp;&emsp;&emsp;&emsp;&ensp;balance: ${{AmazonGC.balance}}</b><br>
                <b>gnuCash balance: ${{AmazonGC.gnuBalance}}</b>
            </div>
        </div>
    </div>
{% endblock %}
