{% extends "base.html" %}

{% block title %}Chase{% endblock %}

{% block content %}
    <h1>Chase</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="main">Main</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="login">Login</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="balance">Balance</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="rewards">Rewards</button>
    </form>
{% endblock %}
