{% extends "base.html" %}

{% block title %}Daily MR{% endblock %}

{% block content %}
    <h1>Daily MR</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="main">Main</button>
    </form>
    <a href="http://127.0.0.1:8000/scripts/bing">Bing</a>
    <br>
    <a href="http://127.0.0.1:8000/scripts/presearch">Presearch</a>
    <br>
    <a href="http://127.0.0.1:8000/scripts/tellwut">Tellwut</a>
    <br>
    <a href="http://127.0.0.1:8000/scripts/amazongc">Amazon GC</a>
    <br>
    <a href="http://127.0.0.1:8000/scripts/pinecone">Pinecone</a>
    <br>
    <a href="http://127.0.0.1:8000/scripts/presearch">Presearch</a>
    <br>
    <a href="http://127.0.0.1:8000/scripts/swagbucks">Swagbucks</a>
    <br>

{% endblock %}
