{% extends "base.html" %}
{% block title %}Daily MR{% endblock %}
{% block content %}
    <h2>Daily Market Research</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="MR">Daily MR</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'AmazonGC' %}" target="_blank">Amazon GC</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="amazonMain">Main</button><br><br><br>
                </form>
                &emsp;&ensp;Balance: <b>${{mrAccounts.AmazonGC.balance}}</b><br>
                gnuBalance: <b>${{mrAccounts.AmazonGC.gnuBalance}}</b><br>
            </div>
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'Bing' %}" target="_blank">Bing</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="bingMain">Main</button>
                    <button type="submit" name="bingLogin">Login</button>
                    <button type="submit" name="bingActivities">Activities</button><br>
                    <button type="submit" name="bingBalance">Balance</button>
                    <button type="submit" name="bingRewards">Rewards</button><br><br>
                </form>
                &emsp;&thinsp;Balance: <b>{{mrAccounts.Bing.gnuBalance}}</b><br>
                Redeem at: 5250<br>
            </div>
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'Paidviewpoint' %}" target="_blank">Paidviewpoint</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="paidviewpointMain">Main</button>
                    <button type="submit" name="paidviewpointLogin">Login</button>                
                    <button type="submit" name="paidviewpointSurvey">Survey</button><br>
                    <button type="submit" name="paidviewpointBalance">Balance</button>
                    <button type="submit" name="paidviewpointRewards">Rewards</button><br><br>
                </form>
                &emsp;&thinsp;Balance: <b>${{mrAccounts.Paidviewpoint.gnuBalance}}</b><br>
                Redeem at: $15.00<br>
            </div>
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'Pinecone' %}" target="_blank">Pinecone</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="pineconeMain">Main</button>
                    <button type="submit" name="pineconeLogin">Login</button><br>
                    <button type="submit" name="pineconeBalance">Balance</button>
                    <button type="submit" name="pineconeRewards">Rewards</button><br><br>
                </form>
                &emsp;&thinsp;Balance: <b>{{mrAccounts.Pinecone.gnuBalance}}</b><br>
                Redeem at: 300<br>
            </div>
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'Presearch' %}" target="_blank">Presearch</a></b><br><br>
                <form method="post">
                    {% csrf_token %}                
                    <button type="submit" name="presearchMain">Main</button>
                    <button type="submit" name="presearchLogin">Login</button>
                    <button type="submit" name="presearchSearch">Search</button><br>
                    <button type="submit" name="presearchBalance">Balance</button>
                    <button type="submit" name="presearchRewards">Rewards</button><br><br>
                </form>
                &emsp;&ensp;Balance: <b>{{bankAccounts.Presearch.balance}}</b> pre<br>
                gnuBalance: {{bankAccounts.Presearch.gnuBalance}} pre<br>
            </div>
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'Swagbucks' %}" target="_blank">Swagbucks</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <input type="checkbox" name="Run Alu" checked="yes">Alu?</input>
                    <button type="submit" name="swagbucksMain">Main</button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="swagbucksLogin">Login</button>
                    <button type="submit" name="swagbucksBalance">Balance</button>
                    <button type="submit" name="swagbucksRewards">Rewards</button><br><br>
                </form>
                &emsp;&thinsp;Balance: <b>{{mrAccounts.Swagbucks.gnuBalance}}</b><br>
                Redeem at: 1000<br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="swagbucksInbox">Inbox</button>
                    <button type="submit" name="swagbucksContent">Content</button>
                    <button type="submit" name="swabucksSearch">Search</button><br>
                </form>
            </div>
            <div style="width: 14%; display:table-cell">
                <b><a href="{% url 'Tellwut' %}" target="_blank">Tellwut</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="tellwutMain">Main</button>
                    <button type="submit" name="tellwutLogin">Login</button>
                    <button type="submit" name="tellwutSurveys">Surveys</button><br>
                    <button type="submit" name="tellwutBalance">Balance</button>
                    <button type="submit" name="tellwutRewards">Rewards</button><br><br>
                </form>
                &emsp;&thinsp;Balance: <b>{{mrAccounts.Tellwut.gnuBalance}}</b><br>
                Redeem at: 4000<br>
            </div>
        </div>
    </div>
{% endblock %}
