{% extends "base.html" %}

{% block title %}Daily Banking{% endblock %}

{% block content %}
    <h1>Daily Banking</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="main">Main</button>
    </form>
    <a href="http://127.0.0.1:8000/scripts/ally">Ally</a><br>
    <a href="http://127.0.0.1:8000/scripts/paypal">Paypal</a><br>
    <a href="http://127.0.0.1:8000/scripts/presearch">Presearch</a><br>
    <a href="http://127.0.0.1:8000/scripts/sofi">Sofi</a><br>
{% endblock %}
