{% extends "base.html" %}
{% block title %}Discover{% endblock %}
{% block content %}
    <h1>Discover</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="balance">Balance</button><br>
                    <button type="submit" name="rewards">Rewards</button><br><br>
                </form>
            </div>
            <div style="width: 80%; display:table-cell">
                &emsp;&emsp;&emsp;&emsp;&ensp;balance: <b>${{account.balance}}</b><br>
                gnuCash balance: <b>${{account.gnuBalance}}</b><br>
                Review Transactions: <br><br>
                <div style="width: 50%; display: table;">
                    {%for tr in account.reviewTransactions %}
                    <div style="display: table-row;">
                        <div style="width: 20%; display:table-cell">
                            {{tr}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
