{% extends "base.html" %}
{% block title %}Monthly{% endblock %}
{% block content %}
    <h2>Monthly USD</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="USD">USD</button>
        <button type="submit" name="prices">price update</button>
        <button type="submit" name="shares">share update</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'Fidelity' %}" target="_blank">Fidelity</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="fidelityMain">Main</button>&emsp;
                    <button type="submit" name="fidelityLogin">Login</button>&emsp;
                    <button type="submit" name="fidelityBalance">Balance</button>&emsp;
                </form><br>
                &emsp;&emsp;&emsp;&emsp;&emsp;balance: <b>${{usdAccounts.Fidelity.balance}}</b><br>
                &emsp;&emsp;&emsp;&thinsp;gnuBalance: <b>${{usdAccounts.Fidelity.gnuBalance}}</b><br><br>
                
                &emsp;&thinsp;{{usdAccounts.SPAXX.symbol}} balance: <b>${{usdAccounts.SPAXX.balance}}</b><br>
                &emsp;&emsp;&emsp;gnuBalance: <b>${{usdAccounts.SPAXX.gnuBalance}}</b><br><br>
                
                &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;{{usdAccounts.VTI.symbol}} shares: <b>{{usdAccounts.VTI.balance}} {{usdAccounts.VTI.symbol}}</b><br>
                &emsp;&ensp;&thinsp;gnuBalance shares: <b>{{usdAccounts.VTI.gnuBalance}} {{usdAccounts.VTI.symbol}}</b><br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{usdAccounts.VTI.symbol}} value: <b>${{usdAccounts.VTI.value}}</b><br>
                &emsp;&emsp;&thinsp;${{usdAccounts.VTI.price}} x shares: <b>${{usdAccounts.VTI.gnuValue}}</b><br><br>

                &emsp;&emsp;&emsp;&emsp;{{usdAccounts.VXUS.symbol}} shares: <b>{{usdAccounts.VXUS.balance}} {{usdAccounts.VXUS.symbol}}</b><br>
                &emsp;&ensp;gnuBalance shares: <b>{{usdAccounts.VXUS.gnuBalance}} {{usdAccounts.VXUS.symbol}}</b><br>
                &emsp;&emsp;&emsp;&emsp;&ensp;&thinsp;{{usdAccounts.VXUS.symbol}} value: <b>${{usdAccounts.VXUS.value}}</b><br>
                &emsp;&emsp;&thinsp;${{usdAccounts.VXUS.price}} x shares: <b>${{usdAccounts.VXUS.gnuValue}}</b><br><br>
            </div>
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'HealthEquity' %}" target="_blank">Health Equity</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="HEMain">Main</button>&emsp;
                    <button type="submit" name="HELogin">Login</button>&emsp;
                    <button type="submit" name="HEBalances">Balances</button>&emsp;
                </form><br>
                &emsp;&emsp;HSA Cash balance: <b>${{usdAccounts.HECash.balance}}</b><br>
                &emsp;&emsp;&emsp;&emsp;&emsp;&thinsp;gnuBalance: <b>${{usdAccounts.HECash.gnuBalance}}</b><br><br>
                HSA Investment shares: <b>{{usdAccounts.VIIIX.balance}} {{usdAccounts.VIIIX.symbol}}</b><br>
                &emsp;&ensp;&thinsp;&thinsp;gnuBalance shares: <b>{{usdAccounts.VIIIX.gnuBalance}} {{usdAccounts.VIIIX.symbol}}</b><br>
                &ensp;HSA Investment Value: <b>${{usdAccounts.VIIIX.value}}</b><br>
                &emsp;&emsp;&ensp;&thinsp;&thinsp;${{usdAccounts.VIIIX.price}} x shares: <b>${{usdAccounts.VIIIX.gnuValue}}</b><br><br>
            </div>
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'Vanguard' %}" target="_blank">Vanguard</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="vanguard401k">401k</button>&emsp;
                    <button type="submit" name="vanguardLogin">Login</button>&emsp;
                    <button type="submit" name="vanguardBalances">Balances</button>&emsp;
                </form><br>
                Pension Balance: <b>${{usdAccounts.Pension.balance}}</b><br>
                &emsp;&emsp;&thinsp;gnuBalance: <b>${{usdAccounts.Pension.gnuBalance}}</b><br><br>
                &emsp;&ensp;401k Balance: <b>${{usdAccounts.V401k.balance}}</b><br>
                &emsp;&emsp;&thinsp;gnuBalance: <b>${{usdAccounts.V401k.gnuBalance}}</b><br><br>
                &emsp;&emsp;&emsp;REIF shares: <b>{{usdAccounts.REIF401k.balance}} ({{usdAccounts.REIF401k.symbol}})</b><br>
                gnuBalance shares: <b>{{usdAccounts.REIF401k.gnuBalance}} ({{usdAccounts.REIF401k.symbol}})</b><br>
                &emsp;&emsp;&emsp;&ensp;REIF Value: <b>${{usdAccounts.REIF401k.value}}</b><br>
                &emsp;&ensp;${{usdAccounts.REIF401k.price}} x shares: <b>${{usdAccounts.REIF401k.gnuValue}}</b><br><br>
                &emsp;&emsp;&emsp;&thinsp;TSM shares: <b>{{usdAccounts.TSM401k.balance}} ({{usdAccounts.TSM401k.symbol}})</b><br>
                gnuBalance shares: <b>{{usdAccounts.TSM401k.gnuBalance}} ({{usdAccounts.TSM401k.symbol}})</b><br>
                &emsp;&emsp;&emsp;&ensp;&thinsp;TSM Value: <b>${{usdAccounts.TSM401k.value}}</b><br>
                &emsp;${{usdAccounts.TSM401k.price}} x shares: <b>${{usdAccounts.TSM401k.gnuValue}}</b><br><br>
            </div>
            <div style="width: 25%; display:table-cell">
                <b><a href="{% url 'Worthy' %}" target="_blank">Worthy</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="worthyLogin">Login</button>&emsp;
                    <button type="submit" name="worthyBalance">Balance</button>&emsp;
                </form><br>
                &emsp;&ensp;&thinsp;balance: <b>${{usdAccounts.Worthy.balance}}</b><br>
                gnuBalance: <b>${{usdAccounts.Worthy.gnuBalance}}</b><br>
            </div>
        </div>
    </div>
    <h2>Monthly Crypto</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="Crypto">Crypto</button><br><br>
    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 16%; display:table-cell">
                <b><a href="{% url 'Eternl' %}" target="_blank">Eternl</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="eternlMain">Main</button>
                    <button type="submit" name="eternlLogin">Login</button>
                    <button type="submit" name="eternlBalance">Balance</button>
                </form><br><br>
                ADA Balance: {{cryptoAccounts.Cardano.balance}}<br>
                &ensp;&thinsp;gnuBalance: {{cryptoAccounts.Cardano.gnuBalance}}<br>
            </div>
            <div style="width: 16%; display:table-cell">
                <b><a href="{% url 'IoPay' %}" target="_blank">IoPay</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="ioPayMain">Main</button>
                </form><br><br>
                IOTX Balance: <b>{{cryptoAccounts.IoTex.balance}}</b><br>
                &emsp;gnuBalance: {{cryptoAccounts.IoTex.gnuBalance}}<br>
            </div>
            <div style="width: 16%; display:table-cell">
                <b>Loopring</b><br><br>
                check mobile app<br><br><br>
                LRC Balance: <b>{{cryptoAccounts.Loopring.balance}}</b> <br>
                &ensp;&thinsp;gnuBalance: {{cryptoAccounts.Loopring.gnuBalance}} <br>
            </div>
            <div style="width: 16%; display:table-cell">
                <b><a href="{% url 'Ledger' %}" target="_blank">Ledger</a></b><br><br>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="ledgerMain">Main</button>
                </form><br><br>
                {% for coin in cryptoAccounts.ledgerAccounts %}
                    {{coin.symbol}} balance: {{coin.balance}} <br>
                    &emsp;gnuBalance: {{coin.gnuBalance}}<br><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
