{% extends "base.html" %}

{% block title %}Monthly Banking{% endblock %}

{% block content %}
    <h1>Monthly Banking</h1>
    <label for="type">Currency Type </label>
    <form method="post" id="type">
        <input type="radio" id="USD" name="type" value="USD" required>
        <label for="html">USD</label><br>
        <input type="radio" id="Crypto" name="type" value="Crypto">
        <label for="css">Crypto</label><br>
        <input type="radio" id="Both" name="type" value="Both">
        <label for="css">Both</label><br>
        {% csrf_token %}
        <button type="submit" name="main">Main</button>
    </form>
    <h3>Scripts Included:</h3>
    {% for script in scripts %}
    <a href="{% url script %}" target="_blank">{{script}}</a><br>
    {% endfor %}
{% endblock %}
