{% extends "base.html" %}

{% block title %}Tellwut{% endblock %}

{% block content %}
    <h1>Tellwut</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="surveys">Surveys</button><br>
                    <button type="submit" name="balance">Balance</button><br>
                    <button type="submit" name="rewards">Rewards</button>
                </form>
            </div>
            <div style="width: 80%; display:table-cell">
                &emsp;&thinsp;Balance: <b>{{Tellwut.gnuBalance}}</b><br>
                Redeem at: 4000<br>
            </div>
        </div>
    </div>    
{% endblock %}
