{% extends "base.html" %}
{% block title %}Vanguard{% endblock %}
{% block content %}
    <h1>Vanguard</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="401k">401k</button><br>
                    <button type="submit" name="Pension">Pension</button><br>
                    <button type="submit" name="login">Login</button><br>
                    <button type="submit" name="balances">Balances</button>
                </form>
            </div>
            <div style="width: 80%; display:table-cell">
                Pension Balance: <b>${{accounts.Pension.balance}}</b><br>
                &emsp;&emsp;&thinsp;gnuBalance: <b>${{accounts.Pension.gnuBalance}}</b><br><br>
                &emsp;&ensp;401k Balance: <b>${{accounts.V401k.balance}}</b><br>
                &emsp;&emsp;&thinsp;gnuBalance: <b>${{accounts.V401k.gnuBalance}}</b><br><br>
                &emsp;&emsp;&emsp;REIF shares: <b>{{accounts.REIF401k.balance}} ({{accounts.REIF401k.symbol}})</b><br>
                gnuBalance shares: <b>{{accounts.REIF401k.gnuBalance}} ({{accounts.REIF401k.symbol}})</b><br>
                &emsp;&emsp;&emsp;&ensp;REIF value: <b>${{accounts.REIF401k.value}}</b><br>
                &emsp;&ensp;${{accounts.REIF401k.price}} x shares: <b>${{accounts.REIF401k.gnuValue}}</b><br><br>
                &emsp;&emsp;&emsp;&thinsp;TSM shares: <b>{{accounts.TSM401k.balance}} ({{accounts.TSM401k.symbol}})</b><br>
                gnuBalance shares: <b>{{accounts.TSM401k.gnuBalance}} ({{accounts.TSM401k.symbol}})</b><br>
                &emsp;&emsp;&emsp;&ensp;&thinsp;TSM value: <b>${{accounts.TSM401k.value}}</b><br>
                &emsp;${{accounts.TSM401k.price}} x shares: <b>${{accounts.TSM401k.gnuValue}}</b><br><br>
            </div>
        </div>
    </div>
{% endblock %}
