{% extends "base.html" %}
{% block title %}IoPay{% endblock %}
{% block content %}
    <h1>IoPay</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button>
                </form>
            </div>
            <div style="width: 80%; display:table-cell">
                &emsp;&emsp;&emsp;&emsp;&ensp;balance: <b>{{account.balance}}</b> iotx<br>
                gnuCash balance: <b>{{account.gnuBalance}}</b> iotx<br>
            </div>
        </div>
    </div>
{% endblock %}
