{% extends "base.html" %}
{% block title %}Ledger{% endblock %}
{% block content %}
    <h1>Ledger</h1>
    <div style="width: 30%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                    <input type="text" placeholder="description" name="description">
                    <button type="submit" name="test">TEST</button>
                </form>
                {{test}}
            </div>
            <div style="width: 5%; display:table-cell;text-align:right">
                {% for coin in coinList %}
                    balance: &thinsp; <br>
                    gnuBalance: &thinsp; <br><br>
                {% endfor %}
            </div>
            <div style="width: 5%; display:table-cell;text-align:left">
                {% for coin in coinList %}
                    {{coin.balance}} {{coin.symbol}}<br>
                    {{coin.gnuBalance}} {{coin.symbol}}<br><br>
                {% endfor %}
            </div>
        </div>

    </div>  
{% endblock %}