{% extends "base.html" %}
{% block title %}Ledger{% endblock %}
{% block content %}
    <h1>Ledger</h1>
    <div style="width: 100%; display: table;">
        <div style="display: table-row;">
            <div style="width: 20%; display:table-cell">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="main">Main</button><br>
                </form>
            </div>
            <div style="width: 80%; display:table-cell">
                {% for coin in coinList %}
                    &emsp;&ensp;&thinsp;balance: {{coin.balance}} {{coin.symbol}}<br>
                    gnuBalance: {{coin.gnuBalance}} {{coin.symbol}}<br><br>
                {% endfor %}
            </div>
        </div>
    </div>  
{% endblock %}