{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
    href="{% static 'website/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <br>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="close windows">Close Windows</button>
    </form>
    <br><br>
    <a href="{% url 'scripts' %}" >All Scripts</a> &emsp;
    <a href="{% url 'Daily' %}" >Daily</a> &emsp;
    <a href="{% url 'Monthly' %}" >Monthly</a> &emsp;
    <a href="{% url 'UpdateGoals' %}" >Update Goals</a> &emsp;
    <a href="{% url 'creditCards' %}" >Credit Cards</a>
    <br><br>
    <b>Spreadsheets: </b> &emsp;
    <a href="https://docs.google.com/spreadsheets/d/1684fQ-gW5A0uOf7s45p9tC4GiEE5s5_fjO5E7dgVI1s/edit#gid=1300163920" target="_blank">Checking Balance</a> &emsp;
    <a href="https://docs.google.com/spreadsheets/d/1sWJuxtYI-fJ6bUHBWHZTQwcggd30RcOSTMlqIzd1BBo/edit#gid=1449745658" target="_blank">Asset Allocation</a> &emsp;
    <a href="https://docs.google.com/spreadsheets/d/1oP3U7y8qywvXG9U_zYXgjFfqHrCyPtUDl4zPDftFCdM/edit#gid=14744444" target="_blank">Joint Expenses</a><br>
</body>
</html>
