{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet"
    href="{% static 'website/style.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <br>
    {% comment %} <a href="{% url 'usd' %}">USD</a>
    <a href="{% url 'marketresearch' %}">Market Research</a>
    <a href="{% url 'crypto' %}">Crypto</a> {% endcomment %}
    {% comment %} <a href="{% url 'accounts' %}">Accounts</a> {% endcomment %}
    <a href="{% url 'scripts' %}">Scripts</a><br>
    <a href="https://docs.google.com/spreadsheets/d/1684fQ-gW5A0uOf7s45p9tC4GiEE5s5_fjO5E7dgVI1s/edit#gid=382679207">Checking Balance</a>
    <a href="https://docs.google.com/spreadsheets/d/1sWJuxtYI-fJ6bUHBWHZTQwcggd30RcOSTMlqIzd1BBo/edit#gid=2058576150">Asset Allocation</a>
    <a href="https://docs.google.com/spreadsheets/d/1oP3U7y8qywvXG9U_zYXgjFfqHrCyPtUDl4zPDftFCdM/edit#gid=317262693">Joint Expenses</a>
</body>
</html>
